html {margin: 10px}

h1 {text-align: center}

section ul {list-style: none;
padding-left: 0px;}

.width-200 {width: 200px;}

#content {display: flex;
    flex-flow: row nowrap;
}

#content-left {
    flex-grow: 1;
}

#content-right {
    flex-grow: 2;
}

#history h3 {
    text-align: center
}

.new {
    text-align: right;
    color: red;
    font-weight: 900;
    font-family: serif;
    text-align: right;
}

#history article {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-top: -1px;
    padding-bottom: 1em;
}

.section-space {
    margin-top: 1em;
}