html {margin: 10px}

h1 {text-align: center}

section ul {list-style: none;
padding-left: 0px;}

.width-200 {width: 200px;}

#content {display: flex;
    flex-flow: row nowrap;
}

#history article {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-top: -1px;
}